body {
  color: #000000;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #F0F8EF;
}

html {
  scroll-behavior: smooth;
}

#root {
  padding: 2rem;
}

.contato {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-left: 30%;
  margin: auto;
}

.logo {
  height: 40px;
}

.topnav {
  width: 100%;
  height: 75px;
  overflow: hidden;
  background-color: #474036;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.logo img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 28px;
  height: 75px;
  line-height: 75px;
  display: flex;
  align-items: center;
  width: auto;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.home {
  align-items: center;
  background-color: #91CA8A;
  color: #000000;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 20%; 
  text-decoration: none;
  height: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}
.pagina {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
  overflow: hidden;
  background-image: url('../images/velhos.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; 
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
}

.integrante {
  flex: 1 0 20%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

/* .integrantes {
  img {
    width: 497px;
    height: 392px;
    object-fit: cover;
     Garante que a imagem não distorça e cobre a área especificada 
  }

  h3 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 5px;
  }
} */

.servicos {
  background-color: #474036;
  padding: 2rem 0;
  color: #ffffff;
  border-radius: 20px;
  position: relative;
  margin-top: 2rem;
  width: 100%; /* Ocupa a largura total do contêiner pai */
}

.servicos .oferecemos img,
.servicos .foto img {
  width: 100%; /* A largura das imagens será igual à largura da div servicos */
  max-width: 100%; /* Garante que as imagens não excedam a largura da div */
  margin: 0 auto;
  display: block;
}

.servicos .oferecemosp {
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: 800px;
}

.doctor {

}

.informacoes {
  background-color: #E7FCE5;
  border-radius: 5px;
}

.footer {
  top: 0;
  padding: 10px;
  text-align: center;
  background-color: #474036;
  height: auto;
  color: #ffffff;
  font-size: 20px;
  border-radius: 20px;
}


/* Página de Cadastro */
.loginecadastro {
  position: relative; 
  min-height: 100vh; 
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem 0;
  z-index: 0; 
}

.loginecadastro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 200vh; 
  background: linear-gradient(to bottom right, #ffffff, #0ee999); 
  z-index: -1; 
}

.loginecadastro::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96%; 
  height: 90%; 
  background-image: url('../src/images/loginvelhos.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  transform: translate(-50%, -50%); 
  z-index: 0; 
  border-radius: 20px; 
}

.cadastroContainer {
  background: rgba(255, 255, 255, 0.85); 
  border-radius: 12px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 1.5rem; 
  width: 65%; 
  box-sizing: border-box; 
  min-height: 300px; 
  max-height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(8px); /* Efeito com desfoque */
  border: 1px solid rgba(0, 0, 0, 0.15); 
  transition: all 0.3s ease; 
}

.cadastroContainer:hover {
  backdrop-filter: blur(6px); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.2); 
  transform: scale(1.02); 
}

.cadastrologo {
  margin-top: 2rem; 
}

.cadastrologo img {
  display: block;
  margin: 0 auto 1rem auto; /* Margem inferior para separação */
  width: 50%; /* Ajuste o tamanho da logo conforme necessário */
}

.formCadastro {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaçamento entre os elementos */
  width: 100%; /* Largura total do formulário */
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 0.9rem; /* Tamanho da fonte do label */
  color: #333;
  margin-bottom: 0.5rem; /* Margem abaixo do label */
}

.inputGroup input {
  padding: 0.75rem; /* Padding dos campos de entrada */
  border: 1px solid #ddd;
  border-radius: 8px; /* Bordas arredondadas */
  font-size: 0.9rem; /* Tamanho da fonte do input */
}

button {
  width: 100%;
  padding: 0.75rem; /* Padding dos botões */
  background-color: #04AA6D; /* Cor verde */
  color: #fff;
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  font-size: 0.9rem; /* Tamanho da fonte dos botões */
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0ee999; /* Cor verde mais clara ao passar o mouse */
  transform: scale(1.02);
}

.opcoesCadastro {
  margin-top: 1rem;
  text-align: center;
}

.googleButton {
  background-color: #4285F4;
  color: #fff;
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  padding: 0.75rem; /* Padding */
  font-size: 0.9rem; /* Tamanho da fonte do botão Google */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem; /* Margem inferior */
}

.googleButton:hover {
  background-color: #357ae8;
}

.opcoesCadastro p {
  margin: 1rem 0 0;
}

.opcoesCadastro a {
  color: #04AA6D;
  text-decoration: none;
  font-weight: bold;
}

.opcoesCadastro a:hover {
  text-decoration: underline;
}

.voltar {
  margin-top: 1rem;
  text-align: center;
}

.voltar button {
  background-color: #f44336;
  padding: 0.75rem; /* Padding */
  font-size: 0.9rem; /* Tamanho da fonte do botão Voltar */
}

.voltar button:hover {
  background-color: #e53935;
}




/*terminando a pagina de cadastro*/