body {
  color: #000000;
  text-align: center;
}

#root {
  padding: 2rem;
}

.contato {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-left: 30%;
  margin: auto;
}

.logo {
  height: 40px;
}

.topnav {
  width: 100%;
  height: 55px;
  overflow: hidden;
  background-color: #474037;
  border-radius: 14px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 54px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagina {
  display: grid;
  place-items: center;
  margin-top: 40px;
}

.sobre {
  padding: 20px;
  margin: auto;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
}

.integrante {
  flex: 1 0 20%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.integrantes {
  img {
    width: 497px;
    height: 392px;
    object-fit: cover;
    /* Garante que a imagem não distorça e cobre a área especificada */
  }

  h3 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 5px;
  }
}

;

hr.separador {
  background-color: #474037;
  border: none;
  /* Remove a borda padrão */
  height: 10px;
  /* Ajusta a altura da faixa */
  width: 100%;
  /* Faz a faixa ocupar toda a largura disponível */
  margin: 20px 0;
  /* Adiciona espaço acima e abaixo da faixa */
  margin-bottom: none;
}

.footer {
  top: 0;
  padding: 10px;
  text-align: center;
  background-color: #474037;
  height: auto;
  color: #ffffff;
  font-size: 20px;
  border-radius: 20px;
}


/*começando a pagina de cadastro*/
.loginecadastro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); /* Transparente */
  z-index: 9999; /* Coloca a div acima de todos os outros elementos */

}
.cadastrologo img{
  align-items: center;
width: 30%;

}

.botoesCadastro{
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os botões horizontalmente */
  gap: 45px; /* Espaçamento entre os botões */
  padding: 1%;
 
 
  
  
}
.botoesCadastro button{
    
    width:260px;
    position: relative;
    padding: 12px 35px;
    background: #04AA6D;
    font-size: 17px;
    font-weight: 500;
    color: #474037;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.botoesCadastro button:hover{
  background-color: #0ee999;
  transition: 0.6s;
  width: 270px;
  height: 56px;
font-size: larger;
}


/*terminando a pagina de cadastro*/