body {
  color: #000000;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #F0F8EF;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.lemonada {
  font-family: 'Lemonada', cursive;
}

.contato {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-left: 30%;
  margin: auto;
  margin-bottom: 30px;
}

.h2contato {
  font-size: 48px;
  font-weight: bold;
}

.logo {
  height: 40px;
}

.topnav {
  width: 100%;
  height: 75px;
  overflow: hidden;
  background-color: #474036;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.logo img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 28px;
  height: 75px;
  line-height: 75px;
  display: flex;
  align-items: center;
  width: auto;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.home {
  align-items: center;
  background-color: #91CA8A;
  color: #000000;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 20%; 
  text-decoration: none;
  height: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}
.pagina {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
  overflow: hidden;
  background-image: url('../images/velhos.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; 
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
}

.integrante {
  flex: 1 0 20%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'Lemonada', cursive;
}

/* .integrantes {
  img {
    width: 497px;
    height: 392px;
    object-fit: cover;
     Garante que a imagem não distorça e cobre a área especificada 
  }

  h3 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 5px;
  }
} */

.servicos {
  padding: 2rem 0;
  color: #ffffff;
  position: relative;
  width: 100%;
}

.servicos .fotoservicos {
  display: flex;
  flex-direction: column;
}

.foto {
  position: relative;
  align-items: center;
  width: 100%;
}

.forest-container img,
.piscina-container img,
.doctor-container img {
  width: 100%;
  display: block;
}

.text-container {
  position: absolute;
  padding: 15px;
  background-color: rgba(0, 128, 0, 0.6); /* Fundo verde com transparência */
  color: white;
  border-radius: 10px;
  max-width: 450px;
  font-size: 20px;
}

.text-container.left {
  left: 5%;
  bottom: 10%;
}

.text-container.right {
  right: 5%;
  bottom: 10%;
  background-color: rgba(0, 122, 128, 0.6); /* Fundo verde com transparência */
}

.text-container.doctor {
  left: 5%;
  bottom: 10%;
  background-color: rgba(201, 1, 1, 0.6); /* Fundo verde com transparência */
}

.nossosservicos {
  background-color: #474036;
}

.oferecemos img {
  width: 100%;
  height: auto;
}

.oferecemosp {
  font-size: 1.2rem;
  margin: 1rem auto;
  max-width: 800px;
  text-align: left;
  text-decoration: underline;
  margin-right: 47%;
}

.pservicos-container {
  background: linear-gradient(to bottom, #95C88E, #689662); 
  margin: 0 auto; /* Centraliza o contêiner */
  max-width: 1200px;
  padding: 1rem; /* Adiciona um espaçamento interno */
  border-radius: 10px;
}

.pservicos {
  color: #000000;
  text-align: center;
  font-family: 'Lemonada', cursive;
}

.informacoes {
  border-radius: 20px;
  background-color: #bbfae3;
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  top: 0;
  padding: 10px;
  text-align: center;
  background-color: #474036;
  height: auto;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px;
}


/* Página de Cadastro */
.loginecadastro {
  position: relative; 
  min-height: 100vh; 
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  overflow: hidden;
  padding: 2rem 0;
  z-index: 0; 
}

.loginsantcasa{
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 2; 
}

.loginsantcasa img {
  width: 100%; 
  margin-top: 1rem;
}

.loginecadastro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background: linear-gradient(to bottom right, #ffffff, #a6dd9f); 
  z-index: -1; 
}

.loginecadastro::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%; 
  height: 75%; 
  margin-bottom: 2rem;
  background-image: url('../src/images/loginvelhos.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  transform: translate(-50%, -50%); 
  z-index: 0; 
  border-radius: 20px; 
}

.cadastroContainer {
  margin-bottom: 8rem;
  margin-top: 10rem;
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, 0.1); 
  padding: 2rem; /* Aumenta o padding ao redor do conteúdo */
  width: 80%; /* Aumenta a largura do contêiner */
  max-width: 800px; /* Ajusta a largura máxima se necessário */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.cadastroContainer:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); 
  transform: scale(1.02); 
}

.cadastrologo {
  margin-top: 3rem; /* Posiciona logo mais para cima */
  width: 100%;
  max-width: 100px; /* Limita a largura máxima da logo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastrologo img {
  width: 100%; 
  height: auto; 
}

.formCadastro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Espaço entre os elementos */
  width: 100%; 
  max-width: 400px; /* Limitar a largura máxima do formulário */
}

.inputGroup {
  width: 75%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 1rem; 
  color: #333;
  margin-bottom: 0.5rem;
  font-weight: bold; 
}

.inputGroup input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem; 
  color: #333; 
  background-color: #f9f9f9; 
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-right: 10px; /* Espaço pequeno entre o input e o botão */
}

button {
  width: 100%; 
  background-color: #91CA8A;
  max-width: 300px; 
  margin: 1rem auto; /* Ajusta a margem ao redor do botão */
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem; 
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover{
  transform: scale(1.03);
  opacity: 0.9; 
}

.entrarButton {
  width: 100%; 
  background-color: #91CA8A;
  max-width: 300px; 
  margin: 0.5rem auto;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem; 
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.entrarButton:hover{
  transform: scale(1.03);
  opacity: 0.9; 
}

.googleButton {
  width: 500px; 
  background-color: #5286F1;
  max-width: 300px; 
  margin: 0.5rem auto;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem; 
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.googleButton:hover{
  transform: scale(1.03);
  opacity: 0.9; 
}

.opcoesCadastro {
  margin-top: 1rem;
  text-align: center;
}

.perfil-cuidador-container, .perfil-cliente-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.campos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%; /* Largura total */
  max-width: 600px; /* Limitar a largura máxima */
  margin: 0 auto;
}

.campo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.campo-nome {
  font-weight: bold;
  margin-right: 10px;
  width: 40%; 
}

.campo-valor {
  width: 60%;
}

.voltarhome, .voltar {
  margin-top: 1rem;
  text-align: center;
}

.voltar button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px; /* Limitar a largura máxima */
  background-color: #f44336;
  padding: 1rem; 
  font-size: 0.9rem; 
}

.voltar button:hover {
  background-color: #e53935;
}

/*terminando a pagina de cadastro*/

/* Estilo da Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Posiciona fora da tela inicialmente */
  width: 400px;
  height: 100%;
  background-color: #5286F1;
  color: #ffffff;
  transition: left 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar:hover {
  left: 0; /* Muda a posição para mostrar a sidebar */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre ícone e texto */
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  width: 90%;
  transition: background 0.3s ease;
  height: 50px; /* Garante uma altura consistente para os links */
}

.sidebar-link:hover {
  background-color: #616161;
}

.sidebar-icon img {
  width: 50px; /* Define a largura dos ícones */
  height: 50px; /* Define a altura dos ícones */
}

/* Estilo do Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.modal-content button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}

.modal-content button[type="button"] {
  background: #6c757d;
}

.modal-content button:hover {
  opacity: 0.9;
}

/* Estilo para o contêiner dos botões */
.opcoes {
  display: flex;
  justify-content: space-between; /* Garante que o espaçamento entre os botões seja igual */
  gap: 1rem; /* Espaçamento opcional entre os botões, pode ajustar conforme necessário */
  margin-top: 1rem;
}

/* Estilo para os botões de seleção */
.opcoes button {
  width: 100%;
  max-width: 300px;
  margin: 0.5rem auto;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff; /* Cor de fundo padrão (inativo) */
  color: #000000; /* Cor do texto padrão */
  border: 2px solid #dcdcdc; /* Borda padrão */
}

.opcoes button.ativo {
  background-color: #4CAF50; /* Cor de fundo quando ativo (verde) */
  color: #ffffff; /* Cor do texto quando ativo */
  border: 2px solid #4CAF50; /* Borda verde quando ativo */
}

.opcoes button.inativo {
  background-color: #ffffff; /* Cor de fundo quando inativo */
  color: #000000; /* Cor do texto quando inativo */
  border: 2px solid #dcdcdc; /* Borda padrão */
}

#project {
  background-image: url('./images/intheforest.png');
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-attachment: fixed; /* Faz com que a imagem fique fixa ao rolar a página */
  height: 100vh; /* Define a altura da seção */
  display: flex; /* Permite o uso de flexbox */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

.buscar-container {
  display: flex;
  justify-content: center; /* Centraliza o contêiner */
  align-items: center;
  margin-top: 20px;
}

.buscar-input, .buscar-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 300px; /* Tamanho fixo para ambos */
  max-width: 100%; /* Para garantir que eles se adaptem a telas menores */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo de largura */
}

.buscar-button {
  background-color: #5286F1;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 80px;
  margin-right: 400px;
  width: 200px;
}

.buscar-button:hover {
  background-color: #4168c9;
}

.buscar-input {
  background-color: #f9f9f9;
  margin-left: 400px;
  margin-right: 80px;
  width: 200px;
}

.cuidadores-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.cuidadores-table th,
.cuidadores-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.cuidadores-table th {
  background-color: #91CA8A;
  color: white;
  font-weight: bold;
}

.cuidadores-table td {
  background-color: #ffffff;
}

.cuidadores-table tr:hover {
  background-color: #f1f1
}